
@{
    ViewData["Title"] = "ShowSimplePartialView";
}

<h1>ShowSimplePartialView</h1>


<p>Orte an den die Partial View gesucht wird</p>
<p>/Views/RazorSyntax/_DateTimePartialView.cshtml</p>
<p>/Views/Shared/_DateTimePartialView.cshtml</p>

<partial name="_DateTimePartialView" />

